@import '../common/variable';
.pieChart {
    justify-content: center;
    margin: auto;
}

.chartTotal{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.chartCheckbox{
    margin:auto
}
.totalText{
    margin-left: auto;
}

.totalPrice{
    width: 120px;
    color:$mintColor;
    text-align: right;
    margin-right: auto;
}


.barChartContainer {
    display: flex;
    flex-direction: column;
    border-top: solid 2px;
    border-color: darkgrey;
    margin-top: 30px;
    margin-bottom: 30px;
}
.barChartItem{
    display: flex;
    border-bottom: solid 2px;
    border-color: darkgrey;
    height: 50px;
    line-height: 50px;
    font-weight: bold;

}

.categoryName{
    width: 80px;
    text-align: center;
}

.categoryRate{
    width: 50px;
    text-align: center;
    color: $mintColor;
}

.rateBarChart{
    flex: auto;
    text-align: left;
    padding: auto;
}

.categoryTotal{
    width: 120px;
    text-align: right;
}